h1 {
	font-family:Apple Chancery, cursive;text-align:center;font-size:75px;
}
h2 {
	font-size:55px; font-family:Apple Chancery, cursive;text-align:center;
}
body {
	font-family:Andale Mono,monospace;background-color:DarkOliveGreen
;font-size:24px;text-align:left;
}
p {
	font-size:22px;
}
img {
width:320px;
}